body {
	background-color: #2c3e50;
}

.section-nba-logo {
	text-align: center;
}

.nba-logo-img {
	height: 200px;
	margin: 10px auto 0 auto;
}

.app-section {
	border: solid thin #ecf0f1;
	font-family:  arial;
	text-align: center;
	margin: 20px  20%;
	background-color: #34495e;
}

.game-number {
	color: #bdc3c7;
	margin: 10px 0;
}

.game-date {
	margin: 10px 0;
	color: #ecf0f1;
}

.section-cle {
	float: left;
	margin-left: 15%;
}

.section-gsw {
	float: right;
	margin-right: 15%;
}

.section-h2 {
	color: white;
	margin-bottom: 0;
}

.team-logo {
	height: 75px;
}

.score {
	font-size: 50px;
	color: white;
	margin: 0 5px;
}

.change-score {
	color: white;
	font-size: 20px;
	border: none;
	background: transparent;
}

.section-cle-score {
	float: right;
}

.section-gsw-score {
	float: left;
}

.series-score {
	clear: both;
	color: #ecf0f1;
}